[Desktop Entry]
Name=Root Terminal
Name[fr_BE]=Terminal root
Name[pt_BR]=Emulador de Terminal como Root
Name[it]=Terminale root
Name[hu]=Rendszergazda terminál
Name[ar]=طرفيّة الجذر
Name[ca]=Terminal root
Name[cs]=Terminál uživatele root
Name[da]=Root-terminal
Name[es]=Terminal de «Root»
Name[eu]=Root terminala
Name[fi]=Pääkäyttäjän Pääte
Name[fr]=Terminal root
Name[gl]=Terminal de root
Name[ja]=root 端末
Name[ko]=루트 터미널
Name[lt]=Administratoriaus terminalas
Name[nl]=Terminal als root
Name[pl]=Terminal użytkownika root
Name[pt]=Terminal Root
Name[sl]=Korenski terminal
Name[sq]=Terminal Rrënje
Name[sv]=Root-terminal
Name[th]=เทอร์มินัลดูแลระบบ
Name[zh_CN]=Root 终端
GenericName=System console
GenericName[fr_BE]=Console du système
GenericName[pt_BR]=Console do sistema
GenericName[it]=Console di sistema
GenericName[ca]=Consola dels Sistema
GenericName[es]=Consola del sistema
GenericName[fi]=Järjestelmäkonsoli
GenericName[fr]=Console du système
GenericName[ja]=システム端末
GenericName[pt]=Consola do Sistema
GenericName[ru]=Системная консоль
GenericName[sl]=Sistemska konzola
GenericName[sv]=Systemterminal
Comment=Opens a terminal as the root user, using gksu to ask for the password
Comment[fr_BE]=Ouvre un terminal en tant que root, en utilisant gksu pour demander le mot de passe
Comment[pt_BR]=Abre uma janela do emulador de terminal com o usuário root, utilizando o gksu para solicitar a senha
Comment[de]=Öffnet ein Terminal als Benutzer 'root' unter Verwendung von gksu zur Passwortabfrage
Comment[it]=Apre un terminale come root, usando gksu per la richiesta della password
Comment[hu]=Megnyit egy rendszergazda terminált, a gksu-t használva a jelszó bekérésére
Comment[ar]=يفتح طرفيّة كمستخدم جذر، مستخدماً gksu للسؤال عن كلمة السر
Comment[ca]=Obre un terminal com a l'usuari root, utilitzat gksu per a demanar la contrasenya
Comment[cs]=Otevře terminál pod uživatelem root, na heslo se dotáže přes gksu
Comment[da]=Åbner en terminal som brugeren root, og bruger gksu til at spørge om adgangskoden. 
Comment[es]=Abre un terminal como el usuario «root» utilizando gksu para preguntar la contraseña.
Comment[eu]=Root erabiltzaile gisa terminal bat irekitzen du pasahitza eskatzeko gksu erabiliaz
Comment[fi]=Avaa päätteen pääkäyttäjänä pyytäen salasanaa gksu:lle
Comment[fr]=Ouvre un terminal en tant que root, en utilisant gksu pour demander le mot de passe
Comment[gl]=Abre un terminal como usuario root, usando gksu para preguntar polo contrasinal
Comment[ja]=パスワードを尋ねるのに gksu を使い、root ユーザとして端末を開く
Comment[ko]=루트 사용자로 터미널을 열고, GKSU로 열쇠글을 물어봅니다
Comment[lt]=Atveria terminalą 'root' naudotojo teisėmis, naudojant gksu slaptažodžiui įvesti
Comment[nl]=Start een terminal als de root-gebruiker waarbij gksu gebruikt wordt om het wachtwoord te vragen.
Comment[pl]=Uruchamia terminal użytkownika root, używając gksu do wczytania hasła
Comment[pt]=Abre o terminal em modo root, usando gksu para pedir a senha
Comment[sl]=Odpre terminal kot korenski (root) uporabnik, s pomoćjo gksu za vnos gesla
Comment[sq]=Hap një terminal si përdoruesi rrënjë, duke përdorur gksu për të kërkuar fjalëkalimin
Comment[sv]=Öppnar en terminal som root-användaren och använder gksu för att fråga efter lösenordet
Comment[th]=เปิดเทอร์มินัลในนามผู้ใช้ root โดยใช้ gksu ถามรหัสผ่าน
Comment[zh_CN]=以 root 用户身份打开一个终端，使用 gksu 询问密码
Encoding=UTF-8
Exec=gksu /usr/bin/x-terminal-emulator
Icon=gksu-root-terminal
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;Utility;System;TerminalEmulator;
NoDisplay=true
