[Desktop Entry]
Type=Application
Name=Links 2
Name[fr_BE]=Links 2 navigateur web
Name[pt_BR]=Navegador de Internet Links 2
Name[it]=Link 2
Name[fr]=Links 2 navigateur web
Name[sq]=Lidhje 2
GenericName=Internet browser
GenericName[fr_BE]=Navigateur Internet
GenericName[pt_BR]=Navegador de internet/web
GenericName[it]=Browser Internet
GenericName[ca]=Navegador d'internet
GenericName[es]=Navegador de Internet
GenericName[fi]=Internet-selain
GenericName[fr]=Navigateur Internet
GenericName[ja]=ウェブブラウザ
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador de Internet
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
Exec=xlinks2
Icon=links2
Terminal=false
Categories=Network;WebBrowser;
Comment=Web browser running in both graphics and text mode
Comment[fr_BE]=Navigateur web fonctionnant à la fois en mode graphique et en mode texte
Comment[pt_BR]=É um navegador de internet que funciona tanto no modo de texto quanto no modo gráfico
Comment[it]=Browser web in esecuzione sia in modalità grafica che testo
Comment[ca]=Navegador Web funcional tant en mode text com gràfic
Comment[es]=Navegador web que se ejecuta en modo de gráfico y texto
Comment[fi]=Web-selain, joka toimii sekä grafiikka- että tekstitilassa
Comment[fr]=Navigateur web fonctionnant à la fois en mode graphique et en mode texte
Comment[ja]=グラフィックモードとテキストモードの両方で動作するウェブブラウザ
Comment[pl]=Przeglądarka internetowa działająca w trybie graficznym i tekstowym
Comment[pt]=Navegador de Internet em modo de texto ou modo gráfico.
Comment[sl]=Spletni brskalnik, ki deluje v grafičnem ali besedilnem načinu
Comment[sq]=Shfletues që xhiron si në mënyrë grafike, ashtu edhe tekst
Comment[sv]=Webbläsare som kör både grafiskt och i textläge
Keywords=lightweight;
Keywords[fr_BE]=lightweight;léger;navigateur;internet;
Keywords[pt_BR]=leve;rápido;navegar;explorar;internet;web;modo texto;
Keywords[it]=leggero;
Keywords[ca]=lleuger;
Keywords[es]=lightweight;navegador ligero;
Keywords[fi]=kevyt;
Keywords[fr]=lightweight;léger;navigateur;internet;
Keywords[ja]=lightweight;軽量;
Keywords[pt]=leve;
Keywords[sl]=lahek;
Keywords[sq]=i peshës së lehtë;
Keywords[sv]=lättvikt;
NoDisplay=true
