[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ADSL/PPPOE Configuration
Name[af]=ADSL/PPPOE-konfigurasie
Name[am]=ADSL/PPPOE ውቅር
Name[ar]=ADSL / PPPOE ﻦﻳﻮﻜﺗ
Name[be]=Канфігурацыя ADSL/PPPOE
Name[bg]=ADSL/PPPOE конфигурация
Name[bn]=ADSL/PPPOE কনфигураেশন
Name[bs]=ADSL/PPPOE konfiguracija
Name[ca]=Configuració ADSL/PPPOE
Name[co]=Configurazione ADSL/PPPOE
Name[cs]=Konfigurace ADSL/PPPOE
Name[cy]=Ffurfweddiad ADSL / PPPOE
Name[da]=ADSL/PPPOE-konfiguration
Name[de]=ADSL/PPPOE-Konfiguration
Name[el]=Διαμόρφωση ADSL/PPPOE
Name[eo]=Agordo ADSL/PPPOE
Name[es]=Configuración ADSL / PPPOE
Name[et]=ADSL/PPPOE konfiguratsioon
Name[eu]=ADSL/PPPOE konfigurazioa
Name[fa]=ADSL/PPPOE ﯼﺪﻨﺑﺮﮑﯿﭘ
Name[fi]=ADSL/PPPOE-kokoonpano
Name[fr]=ADSL/PPPOE configuration
Name[fr_BE]=ADSL/PPPOE configuration
Name[fy]=ADSL / PPPOE konfiguraasje
Name[ga]=Cumraíocht ADSL / PPPOE
Name[gd]=Rèiteachadh ADSL / PPPOE
Name[gl]=Configuración ADSL/PPPOE
Name[gu]=ADSL/PPPOE રૂપરેખાંકન
Name[ha]=Kanfigareshan ADSL/PPPOE
Name[haw]=Hoʻonohonoho ADSL/PPPOE
Name[he]=ADSL/PPPOE תרוצת
Name[hi]=एडीएसएल/पीपीपीओਈ विन्यास
Name[hr]=ADSL/PPPOE konfiguracija
Name[ht]=Konfigirasyon ADSL/PPPOE
Name[hu]=ADSL/PPPOE Kapcsolat
Name[hy]=ADSL/PPPOE կոնֆիգուրացիա
Name[id]=Konfigurasi ADSL/PPPOE
Name[is]=ADSL/PPPOE stillingar
Name[it]=Configurazione ADSL/PPPOE
Name[ja]=ADSL / PPPOE構成
Name[jv]=Konfigurasi ADSL/PPPOE
Name[ka]=ADSL/PPPOE კონფიგურაცია
Name[kk]=ADSL/PPPOE конфигурациясы
Name[km]=ការកំណត់រចនាសម្ព័ន្ធ ADSL/PPPOE
Name[kn]=ADSL/PPPOE ಕಾನ್ಫಿಗರೇಶನ್
Name[ko]=ADSL/PPPOE 구성
Name[ku]=Veavakirina ADSL / PPPOE
Name[ky]=ADSL/PPPOE конфигурациясы
Name[lb]=ADSL / PPPOE Konfiguratioun
Name[lo]=ການຕັ້ງຄ່າ ADSL/PPPOE
Name[lt]=DSL/PPPOE Interneto Nustatymai
Name[lv]=ADSL/PPPOE konfigurācija
Name[mi]=ADSL/PPPOE Whirihoranga
Name[mk]=Конфигурација на ADSL/PPPOE
Name[ml]=ADSL/PPPOE കോൺഫിഗറേഷൻ
Name[mn]=ADSL/PPPOE тохиргоо
Name[mr]=ADSL/PPPOE कॉन्फिगरेशन
Name[ms]=Konfigurasi ADSL/PPPOE
Name[mt]=Konfigurazzjoni ADSL/PPPOE
Name[my]=ADSL/PPPOE ဖွဲ့စည်းမှုပုံစံ
Name[nb]=ADSL/PPPOE-konfigurasjon
Name[ne]=ADSL/PPPOE कन्فिगरेसन
Name[nl]=ADSL/PPPOE-configuratie
Name[ny]=Kusintha kwa ADSL/PPPOE
Name[or]=ADSL / PPPOE ବିନ୍ୟାସକରଣ |
Name[pa]=ADSL/PPPOE ਸੰਰਚਨਾ
Name[pl]=Konfiguracja ADSL/PPPOE
Name[ps]=ADSL/PPPOE ﺐﯿﺗﺮﺗ
Name[pt]=Configuração de ligações ADSL/PPPOE
Name[pt_BR]=Configurações do Modem ADSL/PPPOE
Name[ro]=Conexiune ADSL/PPPOE
Name[ru]=Конфигурация ADSL / PPPOE
Name[rw]=Iboneza rya ADSL / PPPOE
Name[sd]=ADSL/PPPOE ﺐﻴﺗﺮﺗ
Name[si]=ADSL/PPPOE වින්u200dයාසය
Name[sk]=Konfigurácia ADSL/PPPOE
Name[sl]=Konfiguracija ADSL/PPPOE
Name[so]=Habaynta ADSL/PPPOE
Name[sq]=Konfigurimi ADSL/PPPOE
Name[sr]=АДСЛ/ПППОЕ конфигурација
Name[su]=Konfigurasi ADSL/PPPOE
Name[sv]=ADSL/PPPOE-konfiguration
Name[sw]=Usanidi wa ADSL/PPPOE
Name[ta]=ADSL/PPPOE கட்டமைப்பு
Name[te]=ADSL/PPPOE కాన్ਫିగరేషన్
Name[tg]=Танзимоти ADSL/PPPOE
Name[th]=การกำหนดค่า ADSL/PPPOE
Name[tk]=ADSL / PPPOE konfigurasiýasy
Name[tr]=ADSL/PPPOE Yapılandırması
Name[tt]=ADSL / PPPOE конфигурациясе
Name[ug]=ADSL / PPPOE ﻰﺴﯩﻤﯩﻠﭘەﺳ
Name[uk]=Конфігурація ADSL/PPPOE
Name[ur]=ADSL/PPPOE ﻦﺸﯾﺮﮕﯿﻔﻨﮐ
Name[uz]=ADSL/PPPOE konfiguratsiyasi
Name[vi]=Cấu hình ADSL / PPPOE
Name[xh]=Uqwalaselo lweADSL/PPPOE
Name[yi]=ADSL / PPPOE ןאַשיירעיגיפנאַק
Name[yo]=ADSL/PPPOE iṣeto ni
Name[zh_CN]=ADSL/PPPOE 配置
Name[zh_TW]=ADSL/PPPOE 配置
Comment=Configure ADSL/PPPOE
Comment[af]=Stel ADSL/PPPOE op
Comment[am]=ADSL/PPPOE አዋቅር
Comment[ar]=ADSL / PPPOE ﻦﻳﻮﻜﺗ
Comment[be]=Наладзьце ADSL/PPPOE
Comment[bg]=Конфигурирайте ADSL/PPPOE
Comment[bn]=ADSL/PPPOE কনফিগার করুন
Comment[bs]=Konfigurirajte ADSL/PPPOE
Comment[ca]=Configura ADSL/PPPOE
Comment[ceb]=I-configure ang ADSL/PPPOE
Comment[cs]=Nakonfigurujte ADSL/PPPOE
Comment[cy]=Ffurfweddu ADSL / PPPOE
Comment[da]=Konfigurer ADSL/PPPOE
Comment[de]=ADSL/PPPOE Konfigurieren
Comment[el]=Διαμόρφωση ADSL/PPPOE
Comment[eo]=Agordu ADSL/PPPOE
Comment[es]=Configurar ADSL / PPPOE
Comment[et]=ADSL/PPPOE seadistamine
Comment[eu]=Konfiguratu ADSL/PPPOE
Comment[fa]=ADSL/PPPOE ﺪﯿﻨﮐ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ
Comment[fi]=Määritä ADSL/PPPOE
Comment[fil]=I-configure ang ADSL/PPPOE
Comment[fr]=Configurer l'ADSL/PPPOE
Comment[fr_BE]=Configurer l'ADSL/PPPOE
Comment[fy]=ADSL / PPPOE ynstelle
Comment[ga]=Cumraigh ADSL / PPPOE
Comment[gd]=Dèan rèiteachadh air ADSL / PPPOE
Comment[gl]=Configurar ADSL/PPPOE
Comment[gu]=ADSL/PPPOE ગોઠવો
Comment[ha]=Sanya ADSL/PPPOE
Comment[haw]=E hoʻonohonoho iā ADSL/PPPOE
Comment[he]=ADSL/PPPOE תא רדגה
Comment[hi]=एडीएसएल/पीपीपीओई कॉन्फ़िगर करें
Comment[hr]=Konfigurirajte ADSL/PPPOE
Comment[ht]=Konfigirasyon ADSL/PPPOE
Comment[hu]=ADSL/PPPOE Kapcsolat Beállítása
Comment[hy]=Կարգավորել ADSL/PPPOE
Comment[id]=Konfigurasi ADSL/PPPOE
Comment[is]=Stilla ADSL/PPPOE
Comment[it]=Configura ADSL/PPPOE
Comment[ja]=ADSL / PPPOEを設定する
Comment[jv]=Konfigurasi ADSL/PPPOE
Comment[ka]=ADSL/PPPOE კონფიგურაცია
Comment[kk]=ADSL/PPPOE конфигурациялау
Comment[km]=កំណត់រចនាសម្ព័ន្ធ ADSL/PPPOE
Comment[kn]=ADSL/PPPOE ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡಿ
Comment[ko]=ADSL/PPPOE 구성
Comment[ku]=ADSL/PPPOE mîheng bike
Comment[ky]=ADSL/PPPOE конфигурациялоо
Comment[lb]=ADSL / PPPOE konfiguréieren
Comment[lo]=ຕັ້ງຄ່າ ADSL/PPPOE
Comment[lt]=Konfigūruoti ADSL/PPPOE Interneto Ryšį
Comment[lv]=Konfigurējiet ADSL/PPPOE
Comment[mg]=Amboary ny ADSL/PPPOE
Comment[mi]=Whirihorahia te ADSL/PPPOE
Comment[mk]=Конфигурирајте ADSL/PPPOE
Comment[ml]=ADSL/PPPOE കോൺഫിഗർ ചെയ്യുക
Comment[mn]=ADSL/PPPOE-г тохируулна уу
Comment[mr]=ADSL/PPPOE कॉन्फिगर करा
Comment[ms]=Konfigurasikan ADSL/PPPOE
Comment[mt]=Ikkonfigura l-ADSL/PPPOE
Comment[my]=ADSL/PPPOE ကို စီစဉ်သတ်မှတ်ပါ။
Comment[nb]=Konfigurer ADSL/PPPOE
Comment[ne]=ADSL/PPPOE कन्फिगर गर्नुहोस्
Comment[nl]=ADSL/PPPOE configureren
Comment[ny]=Konzani ADSL/PPPOE
Comment[or]=ADSL / PPPOE କୁ ବିନ୍ୟାସ କରନ୍ତୁ |
Comment[pa]=ADSL/PPPOE ਕੌਂਫਿਗਰ ਕਰੋ
Comment[pl]=Skonfiguruj ADSL/PPPOE
Comment[ps]=ADSL/PPPOE ﺉړﮐ ﻢﯿﻈﻨﺗ
Comment[pt]=Configurar ADSL/PPPOE
Comment[pt_BR]=Configurações do Modem ADSL - Asymmetric Digital Subscriber Line e do PPPOE - Point-to-Point Protocol over Ethernet
Comment[ro]=Configurare Conexiune ADSL/PPPOE
Comment[ru]=Настроить ADSL / PPPOE
Comment[rw]=Hindura ADSL / PPPOE
Comment[sd]=ADSL/PPPOE ﻮﻳڏ ﺐﻴﺗﺮﺗ
Comment[si]=ADSL/PPPOE වින්u200dයාස කරන්න
Comment[sk]=Nakonfigurujte ADSL/PPPOE
Comment[sl]=Konfigurirajte ADSL/PPPOE
Comment[sm]=Fa'atulaga le ADSL/PPPOE
Comment[sn]=Gadzirisa ADSL/PPPOE
Comment[so]=Isku xidh ADSL/PPPOE
Comment[sq]=Konfiguro ADSL/PPPOE
Comment[sr]=Конфигуришите АДСЛ/ПППОЕ
Comment[st]=Lokisa ADSL/PPPOE
Comment[su]=Konpigurasikeun ADSL / PPPOE
Comment[sv]=Konfigurera ADSL/PPPOE
Comment[sw]=Sanidi ADSL/PPPOE
Comment[ta]=ADSL/PPPOEஐ உள்ளமைக்கவும்
Comment[te]=ADSL/PPPOEని కాన్ఫిగర్ చేయండి
Comment[tg]=ADSL/PPPOE-ро танзим кунед
Comment[th]=กำหนดค่า ADSL/PPPOE
Comment[tk]=ADSL / PPPOE sazlaň
Comment[tr]=ADSL/PPPOE'yi yapılandırın
Comment[tt]=ADSL / PPPOE конфигурациясе
Comment[ug]=ADSL / PPPOE ﯓەﻠﭘەﺳ ﻰﻧ
Comment[uk]=Налаштуйте ADSL/PPPOE
Comment[ur]=ADSL/PPPOE ۔ﮟﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ
Comment[uz]=ADSL/PPPOE sozlang
Comment[vi]=Định cấu hình ADSL / PPPOE
Comment[xh]=Qwalasela iADSL/PPPOE
Comment[yi]=ADSL / PPPOE רעיגיפנאַק
Comment[yo]=Tunto ADSL/PPPOE
Comment[zh_CN]=配置 ADSL/PPPOE
Comment[zh_TW]=配置 ADSL/PPPOE
GenericName=ADSL/PPPOE Configuration
GenericName[af]=ADSL/PPPOE-konfigurasie
GenericName[am]=ADSL/PPPOE ውቅር
GenericName[ar]=ADSL / PPPOE ﻦﻳﻮﻜﺗ
GenericName[be]=Канфігурацыя ADSL/PPPOE
GenericName[bg]=ADSL/PPPOE конфигурация
GenericName[bn]=ADSL/PPPOE কনফিগারেশন
GenericName[bs]=ADSL/PPPOE konfiguracija
GenericName[ca]=Configuració ADSL/PPPOE
GenericName[co]=Configurazione ADSL/PPPOE
GenericName[cs]=Konfigurace ADSL/PPPOE
GenericName[cy]=Ffurfweddiad ADSL / PPPOE
GenericName[da]=ADSL/PPPOE-konfiguration
GenericName[de]=ADSL/PPPOE-Konfiguration
GenericName[el]=Διαμόρφωση ADSL/PPPOE
GenericName[eo]=Agordo ADSL/PPPOE
GenericName[es]=Configuración ADSL / PPPOE
GenericName[et]=ADSL/PPPOE konfiguratsioon
GenericName[eu]=ADSL/PPPOE konfigurazioa
GenericName[fa]=ADSL/PPPOE ﯼﺪﻨﺑﺮﮑﯿﭘ
GenericName[fi]=ADSL/PPPOE-kokoonpano
GenericName[fr]=ADSL/PPPOE configuration
GenericName[fr_BE]=ADSL/PPPOE configuration
GenericName[fy]=ADSL / PPPOE konfiguraasje
GenericName[ga]=Cumraíocht ADSL / PPPOE
GenericName[gd]=Rèiteachadh ADSL / PPPOE
GenericName[gl]=Configuración ADSL/PPPOE
GenericName[gu]=ADSL/PPPOE રૂપરેખાંકન
GenericName[ha]=Kanfigareshan ADSL/PPPOE
GenericName[haw]=Hoʻonohonoho ADSL/PPPOE
GenericName[he]=ADSL/PPPOE תרוצת
GenericName[hi]=एडीएसएल/पीपीपीओई विन्यास
GenericName[hr]=ADSL/PPPOE konfiguracija
GenericName[ht]=Konfigirasyon ADSL/PPPOE
GenericName[hu]=ADSL/PPPOE Kapcsolat
GenericName[hy]=ADSL/PPPOE կոնֆիգուրացիա
GenericName[id]=Konfigurasi ADSL/PPPOE
GenericName[is]=ADSL/PPPOE stillingar
GenericName[it]=Configurazione ADSL/PPPOE
GenericName[ja]=ADSL / PPPOE構成
GenericName[jv]=Konfigurasi ADSL/PPPOE
GenericName[ka]=ADSL/PPPOE კონფიგურაცია
GenericName[kk]=ADSL/PPPOE конфигурациясы
GenericName[km]=ការកំណត់រចនាសម្ព័ន្ធ ADSL/PPPOE
GenericName[kn]=ADSL/PPPOE ಕಾನ್ಫಿಗರೇಶನ್
GenericName[ko]=ADSL/PPPOE 구성
GenericName[ku]=Veavakirina ADSL / PPPOE
GenericName[ky]=ADSL/PPPOE конфигурациясы
GenericName[lb]=ADSL / PPPOE Konfiguratioun
GenericName[lo]=ການຕັ້ງຄ່າ ADSL/PPPOE
GenericName[lt]=DSL/PPPOE Interneto Nustatymai
GenericName[lv]=ADSL/PPPOE konfigurācija
GenericName[mi]=ADSL/PPPOE Whirihoranga
GenericName[mk]=Конфигурација на ADSL/PPPOE
GenericName[ml]=ADSL/PPPOE കോൺഫിഗറേഷൻ
GenericName[mn]=ADSL/PPPOE тохиргоо
GenericName[mr]=ADSL/PPPOE कॉन्फिगरेशन
GenericName[ms]=Konfigurasi ADSL/PPPOE
GenericName[mt]=Konfigurazzjoni ADSL/PPPOE
GenericName[my]=ADSL/PPPOE ဖွဲ့စည်းမှုပုံစံ
GenericName[nb]=ADSL/PPPOE-konfigurasjon
GenericName[ne]=ADSL/PPPOE कन्फिगरेसन
GenericName[nl]=ADSL/PPPOE-configuratie
GenericName[ny]=Kusintha kwa ADSL/PPPOE
GenericName[or]=ADSL / PPPOE ବିନ୍ୟାସକରଣ |
GenericName[pa]=ADSL/PPPOE ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja ADSL/PPPOE
GenericName[ps]=ADSL/PPPOE ﺐﯿﺗﺮﺗ
GenericName[pt]=Configuração de ligações ADSL/PPPOE
GenericName[pt_BR]=Configurações do Modem ADSL/PPPOE
GenericName[ro]=Conexiune ADSL/PPPOE
GenericName[ru]=Конфигурация ADSL / PPPOE
GenericName[rw]=Iboneza rya ADSL / PPPOE
GenericName[sd]=ADSL/PPPOE ﺐﻴﺗﺮﺗ
GenericName[si]=ADSL/PPPOE වින්u200dයාසය
GenericName[sk]=Konfigurácia ADSL/PPPOE
GenericName[sl]=Konfiguracija ADSL/PPPOE
GenericName[so]=Habaynta ADSL/PPPOE
GenericName[sq]=Konfigurimi ADSL/PPPOE
GenericName[sr]=АДСЛ/ПППОЕ конфигурација
GenericName[su]=Konfigurasi ADSL/PPPOE
GenericName[sv]=ADSL/PPPOE-konfiguration
GenericName[sw]=Usanidi wa ADSL/PPPOE
GenericName[ta]=ADSL/PPPOE கட்டமைப்பு
GenericName[te]=ADSL/PPPOE కాన్ఫిగరేషన్
GenericName[tg]=Танзимоти ADSL/PPPOE
GenericName[th]=การกำหนดค่า ADSL/PPPOE
GenericName[tk]=ADSL / PPPOE konfigurasiýasy
GenericName[tr]=ADSL/PPPOE Yapılandırması
GenericName[tt]=ADSL / PPPOE конфигурациясе
GenericName[ug]=ADSL / PPPOE ﻰﺴﯩﻤﯩﻠﭘەﺳ
GenericName[uk]=Конфігурація ADSL/PPPOE
GenericName[ur]=ADSL/PPPOE ﻦﺸﯾﺮﮕﯿﻔﻨﮐ
GenericName[uz]=ADSL/PPPOE konfiguratsiyasi
GenericName[vi]=Cấu hình ADSL / PPPOE
GenericName[xh]=Uqwalaselo lweADSL/PPPOE
GenericName[yi]=ADSL / PPPOE ןאַשיירעיגיפנאַק
GenericName[yo]=ADSL/PPPOE iṣeto ni
GenericName[zh_CN]=ADSL/PPPOE 配置
GenericName[zh_TW]=ADSL/PPPOE 配置
Exec=x-terminal-emulator -e /usr/sbin/pppoeconf
Terminal=false
Icon=pppoeconf
Categories=System;Utility;
