[Desktop Entry]
Encoding=UTF-8
Name=Remaster
Name[fr_BE]=Remastériser
Name[pt_BR]=Remasterizador do Sistema Operacional
Name[de]=Remaster Live-System
Name[it]=Rimasterizza
Name[hu]=Lemezképbe rögzítés
Name[am]=እንደገና መስሪያ
Name[ar]=ﺮﺘﺴﻣﺭ
Name[be]=Рэмастэрынг
Name[bg]=Ремастериране
Name[bn]=রিমাস্টার
Name[ca]=Remasteritza
Name[cs]=Přizpůsobit
Name[es]=Remasterizar
Name[eu]=Remasterizatu
Name[fa]=ﺮﺘﺴﻤﯾﺭ
Name[fi]=Uudelleenisännöinti
Name[fr]=Remastériser
Name[gl]=Remasterización
Name[gu]=રીમાસ્ટર
Name[he]=רטסאמיר
Name[hi]=रीमास्टर
Name[is]=Remaster diskagerð
Name[ja]=リマスター
Name[ka]=რემასტერი
Name[kk]=Қайта өңдеу
Name[km]=គ្រប់គ្រងឡើងវិញ
Name[kn]=ರೀಮಾಸ್ಟರ್
Name[ko]=리마스터
Name[mk]=Ремастер
Name[ml]=റീമാസ്റ്റർ
Name[mn]=Дахин засварлах
Name[mr]=रीमास्टर
Name[my]=ပြန်လည်မာစတာ
Name[ne]=रिमास्टर
Name[nl]=Remasteren
Name[nb]=Remastring
Name[or]=ରିମାଷ୍ଟର |
Name[pa]=ਰੀਮਾਸਟਰ
Name[ps]=ﺮټﺳﺎﻣ ﺎﯿﺑ
Name[pt]=Recompor o sistema
Name[ro]=Remasterizat
Name[ru]=Ремастер
Name[sd]=ﺮٽﺳﺎﻤﻳﺭ
Name[si]=නැවත සකස් කරන්න
Name[sk]=Remástrovať
Name[sl]=Remasterizacija
Name[sm]=Toe pule
Name[so]=Maamule
Name[sq]=Ripërzieni
Name[sr]=Ремастер
Name[st]=Khopotso
Name[ta]=ரீமாஸ்டர்
Name[te]=రీమాస్టర్
Name[th]=รีมาสเตอร์
Name[tr]=Yeniden Düzenleme
Name[tt]=Ремастер
Name[uk]=Ремастер
Name[ur]=ﺮﭩﺳﺎﻤﯾﺭ
Name[yi]=רעטסאַמער
Name[zh_CN]=系统重打包
Name[zh_TW]=重新製作
Comment=Remaster running live instance
Comment[fr_BE]=Remastériser une session « live » en cours d’exécution
Comment[pt_BR]=Remasteriza o sistema operacional externo em execução
Comment[de]=Laufende Instanz des Live-Systems »remastern«
Comment[el]=Κλωνοποίηση του Live System
Comment[it]=Rielabora la Live mentre è in esecuzione
Comment[hu]=Élő példányt futtató Remaster
Comment[af]=Remaster loop regstreekse instansie
Comment[am]=በ ቀጥታ ሁኔታዎችን እንደገና መስሪያ እና ማስኬጃ
Comment[ar]=Remaster ﺮﺷﺎﺒﻣ ﻞﻴﺜﻣ ﻞﻴﻐﺸﺗ
Comment[be]=Рэмастэрынг запушчаны жывы асобнік
Comment[bg]=Ремастерира работещата live инстанция
Comment[bn]=রিমাস্টার চলমান লাইভ উদাহরণ
Comment[bs]=Remaster pokreće živu instancu
Comment[ca]=Remasteritza quan funciona en autònom
Comment[ceb]=Remaster nga nagpadagan sa live nga pananglitan
Comment[co]=Remaster esegue l'istanza live
Comment[cs]=Remaster běžící živé instance
Comment[cy]=Remaster yn rhedeg enghraifft fyw
Comment[da]=Remaster kørende live-instans
Comment[eo]=Remaster kurante viva ekzemplo
Comment[es]=Remasterizar ejecutando instancia en vivo
Comment[et]=Remaster töötab reaalajas eksemplari
Comment[eu]=Berriz masterizatu zuzeneko instantzia exekutatzen
Comment[fa]=ﻩﺪﻧﺯ ﻪﻧﻮﻤﻧ ﯼﺍﺮﺟﺍ ﺮﺘﺴﻤﯾﺭ
Comment[fi]=Remasteroi käynnissä oleva live-tila
Comment[fil]=Nagpapatakbo ng live na instance ang Remaster
Comment[fr]=Remastériser une session « live » en cours d’exécution
Comment[fy]=Remaster rint live eksimplaar
Comment[ga]=Remaster ag rith mar shampla beo
Comment[gd]=Remaster a ’ruith eisimpleir beò
Comment[gl]=Remaster executando unha instancia en directo
Comment[gu]=રીમાસ્ટર ચાલી રહેલ લાઇવ ઇન્સ્ટન્સ
Comment[ha]=Remaster yana gudana kai tsaye misali
Comment[haw]=E holo ana ʻo Remaster i ka laʻana ola
Comment[he]=יח עפומ ץירמ רטסאמיר
Comment[hi]=कार्यरत लाइव सिस्टम को रीमास्टर करें
Comment[hr]=Remaster pokreće živu instancu
Comment[ht]=Remaster ap kouri egzanp vivan
Comment[hy]=Remaster գործարկվող կենդանի օրինակ
Comment[id]=Remaster menjalankan instance langsung
Comment[is]=Remaster keyrir lifandi dæmi
Comment[ja]=リマスター実行中のライブインスタンス
Comment[jv]=Remaster mlaku conto langsung
Comment[ka]=Remaster გაშვებული ცოცხალი მაგალითი
Comment[kk]=Тікелей дананы қайта өңдеу
Comment[km]=Remaster កំពុងដំណើរការឧទាហរណ៍ផ្ទាល់
Comment[kn]=ರೀಮಾಸ್ಟರ್ ಚಾಲನೆಯಲ್ಲಿರುವ ಲೈವ್ ನಿದರ್ಶನ
Comment[ko]=라이브 인스턴스를 실행하는 리마스터
Comment[ku]=Remaster ku mînaka zindî dimeşîne
Comment[ky]=Ремастер жандуу инстанцияны иштетет
Comment[lb]=Remaster leeft Live Instanz
Comment[lo]=Remaster ແລ່ນຕົວຢ່າງສົດ
Comment[lt]=Remaster veikia tiesioginiame egzemplioriuje
Comment[lv]=Remaster darbojas tiešraidē
Comment[mg]=Remaster mandeha ohatra mivantana
Comment[mi]=Remaster rere tauira ora
Comment[mk]=Ремастерирајте го воведувањето на пример во живо
Comment[ml]=റീമാസ്റ്റർ റൺ ലൈവ് ഇൻസ്u200cറ്റൻസ്
Comment[mn]=Remaster ажиллаж байгаа амьд жишээ
Comment[mr]=रीमास्टर रनिंग लाइव्ह इन्स्टन्स
Comment[ms]=Remaster menjalankan contoh langsung
Comment[mt]=Remaster qed iħaddem istanza live
Comment[my]=တိုက်ရိုက်လုပ်ဆောင်နေသည့် ဥပမာကို ပြန်လည်ပြုစုပါ။
Comment[ne]=रिमास्टर चलिरहेको प्रत्यक्ष उदाहरण
Comment[nl]=Remaster gedurende live instantie
Comment[nb]=Remastre et kjørende live-system
Comment[ny]=Remaster kuthamanga live chitsanzo
Comment[or]=ଲାଇଭ ଇନଷ୍ଟାଣ୍ଟ ଚାଲୁଥିବା ରିମାଷ୍ଟର |
Comment[pa]=ਰੀਮਾਸਟਰ ਚੱਲ ਰਿਹਾ ਲਾਈਵ ਉਦਾਹਰਨ
Comment[pl]=Zremasteruj aktualnie uruchomiony system Live
Comment[ps]=ﻝﺎﺜﻣ ﯼﺪﻧﻭﮊ ﻮﻟﻮﻠﭼ ﺮټﺳﺎﻤﯾﺭ ﺩ
Comment[pt]=Recompor o sistema externo em execução
Comment[ro]=care rulează remasterizată exemplu viu
Comment[ru]=Ремастер работает с живым экземпляром
Comment[rw]=Remaster ikora urugero
Comment[sd]=ﻝﺎﺜﻣ ﻮﻴﺋﻻ﻿ ڙﺪﻨﻴﺋﻼ﻿ﻫ ﺮٽﺳﺎﻤﻳﺭ
Comment[si]=Remaster ධාවනය වන සජීවී අවස්ථාව
Comment[sk]=Prerobí bežiacu live verziu
Comment[sl]=Remasterizacija zagnane žive instanc
Comment[sm]=Remaster fa'agasolo fa'ata'ita'iga
Comment[sn]=Remaster running live muenzaniso
Comment[so]=Remaster oo ordaya tusaale ahaan
Comment[sq]=Ripërzieni një instancë “live” në xhirim
Comment[sr]=Ремастер покреће живу инстанцу
Comment[st]=Remaster running e phelang mohlala
Comment[su]=Remaster ngajalankeun conto langsung
Comment[sv]=Remaster live-sessionen du kör
Comment[sw]=Kumbuka kuendesha mfano wa moja kwa moja
Comment[ta]=ரீமாஸ்டர் இயங்கும் நேரடி நிகழ்வு
Comment[te]=రీమాస్టర్ నడుస్తున్న ప్రత్యక్ష ఉదాహరణ
Comment[tg]=Remaster иҷрокунандаи мисоли зинда
Comment[th]=Remaster เรียกใช้อินสแตนซ์สด
Comment[tk]=Göni ýaýlymda işleýän remaster
Comment[tr]=Çalışan canlı oturumu yeniden düzenleyin
Comment[tt]=Тере инстанция
Comment[ug]=ﺵﯛﺭﯜﺘﻟەﻛ ەﮕﯩﻠﺳەﺋ ﻰﻨﻧﺍﺪﻳەﻣ ﻕەﻧ
Comment[uk]=Ремастер запущений живий екземпляр
Comment[ur]=ﻝﺎﺜﻣ ﻮﯿﺋﻻ﻿ ﮯﮨ ﺎﮨﺭ ﻞﭼ ﺮﭩﺳﺎﻣ ﯼﺭ
Comment[uz]=Jonli misolni qayta ishlash
Comment[vi]=Phiên bản trực tiếp đang chạy Remaster
Comment[xh]=Khumbula ukuqhuba umzekelo ophilayo
Comment[yi]=ליפּשיַיב ןבעל קידנסילפ רעטסאַמיר
Comment[yo]=Remaster nṣiṣẹ ifiwe apẹẹrẹ
Comment[zh_CN]=重新打包运行的 Live 系统
Comment[zh_TW]=重新製作運行實例
Exec=su-to-root -X -c live-remaster
Icon=remastersys
Terminal=false
Type=Application
Categories=X-antiX;
NoDisplay=true

GenericName=Remaster
GenericName[fr_BE]=Remastériser
GenericName[pt_BR]=Remasterizador do Sistema Operacional
GenericName[de]=Remaster Live-System
GenericName[it]=Rimasterizza
GenericName[hu]=Lemezképbe rögzítés
GenericName[am]=እንደገና መስሪያ
GenericName[ar]=إعادة الإنتاج
GenericName[be]=Рэмастэрынг
GenericName[bg]=Ремастериране
GenericName[bn]=রিমাস্টার
GenericName[ca]=Remasteritza
GenericName[cs]=Přizpůsobit
GenericName[es]=Remasterizar
GenericName[eu]=Remasterizatu
GenericName[fa]=ﺮﺘﺴﻤﯾﺭ
GenericName[fi]=Remasteri
GenericName[fr]=Remastériser
GenericName[gl]=Remasterización
GenericName[gu]=રીમાસ્ટર
GenericName[he]=רטסאמיר
GenericName[hi]=रीमास्टर
GenericName[is]=Remaster diskagerð
GenericName[ja]=リマスター
GenericName[ka]=რემასტერი
GenericName[kk]=Қайта өңдеу
GenericName[km]=គ្រប់គ្រងឡើងវិញ
GenericName[kn]=ರೀಮಾಸ್ಟರ್
GenericName[ko]=리마스터
GenericName[mk]=Ремастер
GenericName[ml]=റീമാസ്റ്റർ
GenericName[mn]=Дахин засварлах
GenericName[mr]=रीमास्टर
GenericName[my]=ပြန်လည်မာစတာ
GenericName[ne]=रिमास्टर
GenericName[nl]=Remasteren
GenericName[nb]=Remastring
GenericName[or]=ରିମାଷ୍ଟର |
GenericName[pa]=ਰੀਮਾਸਟਰ
GenericName[ps]=ﺮټﺳﺎﻣ ﺎﯿﺑ
GenericName[pt]=Recompor o sistema
GenericName[ro]=Remasterizare
GenericName[ru]=Ремастеринг
GenericName[sd]=ﺮٽﺳﺎﻤﻳﺭ
GenericName[si]=නැවත සකස් කරන්න
GenericName[sk]=Remástrovať
GenericName[sl]=Remasterizacija
GenericName[sm]=Toe pule
GenericName[so]=Maamule
GenericName[sq]=Ripërzieni
GenericName[sr]=Ремастер
GenericName[st]=Khopotso
GenericName[ta]=ரீமாஸ்டர்
GenericName[te]=రీమాస్టర్
GenericName[tr]=Yeniden Düzenleme
GenericName[tt]=Ремастер
GenericName[uk]=Ремастер
GenericName[ur]=ﺮﭩﺳﺎﻤﯾﺭ
GenericName[yi]=רעטסאַמער
GenericName[zh_CN]=系统重打包
GenericName[zh_TW]=重新製作
