[Desktop Entry]
Type=Application
Encoding=UTF-8
Comment=Network configuration
Comment[fr]=Configurer le réseau
Exec=connman-gtk
Name=Connman Settings
Name[fr]=Configuration réseau
Icon=preferences-system-network.png
Categories=System;Settings;HardwareSettings;
Keywords=connman;network;settings;wired;wifi;wi-fi;bluetooth;vpn;tethering
X-GNOME-Settings-Panel=connman-gtk
X-Unity-Settings-Panel=connman-gtk
