[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Welcome Information
Name[fr]=Information de bienvenue
Comment=Creates an "INFORMATION.TXT" file on the live desktop
Comment[fr]=Crée un fichier "INFORMATION.TXT" sur le bureau live
Exec=welcome.sh
StartupNotify=false
Terminal=false
Hidden=false

